# Node (frontend) related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Flask (backend) related
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
.cache
.pytest_cache/

# Environment and OS files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
*.log
*.sqlite
.DS_Store
*.swp
*.swo

# Models
models/

# Virtual environment
venv/